<!-- templates/index.html -->
<html>
<head>
    <title>Hello</title>
</head>
<body>

<a href="/settings">Settings</a>


<script src="/js/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var ajaxCall = function (b) {
            console.log(b);
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5000/activate',
                success: ajaxCall,
                error: function (a) {
                  console.log(a)
                },
                dataType: 'json'
            });
        };
        ajaxCall();
    });
</script>


</body>
</html>